body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}
.logo {
  font-family: "raleway";
  font-weight: 700;
}
.logo-color1 {
  color: #2196f3;
}
.logo-header {
  color: #000000;
}
.header-contacts {
  font-weight: 500;
  color: #757575;
}
.navigation {
  font-weight: 500;
  color: #212121;
}

.link:hover,
.link:focus,
.link:active {
  color: #2196f3;
}
.link {
  text-decoration: none;
}
.footer-backfround {
  background-color: #2f303a;
}
.logo-footer {
  color: #ffffff;
}
